.search {
    color: #27eab6;
    width: 120px;
    padding: 10px 30px;
    border: 2px solid #27eab2;
    border-radius: 20px;
    text-align: center;
}

.circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #27eab2;
    text-align: center;
    font-size: 20px;
    color: white;
}

.account {
    padding: 5px;
    text-align: center;
    width: 150px;
    border: 2px solid black;
    background-color: rgb(99, 99, 248);
    color: white;
    box-shadow: 3px 3px black;
}