div h1 { 
    padding: 10px;
    font-size: 40px;
    color: white;  
    background-color: black;
    font-family: monospace ;
    
}
div span {
    color: aqua;
}

h2 {
    color: white;
    padding: 10px;
    background-color: purple;
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 30px;
}

h4 {
    padding: 10px;
    background-color: paleturquoise;
    text-align: right;
    text-decoration: underline;
    font-family: monospace;
    font-size: 20px;
}