/* * {
    border: 1px dotted red;
} */

div{
    background-color: rgb(59, 56, 56);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    
}

h1{
    color: white;
}
h1{
    color: white;
    padding-left: 10px;
}

li, a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
    
}

h1, a {
    font-family:monospace, Geneva, Tahoma, sans-serif;
}

.btn {
    box-shadow: 3px 3px black;
    background-color: rgb(59, 123, 202);
    color: white;
}