.container {
    width: 700px;
    margin: 0px auto;
    background-color: lightgray;
    padding: 10px;
}
header {
    padding-top: 10px;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: purple;
}
footer {
    text-align: center;
    padding-bottom: 5px;
}
img.octocat {
    height: 200px;
}
.row {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
.blue {
    background-color: lightblue;
    justify-content: center;
}

.pink {
    background-color: lightpink;
}

