/* * {

    border: 1px dotted blue;
} */
body{
    border: 1px solid cadetblue;
    width: 700px;
    margin-left: 350px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top-bar {
    height: 100px;
    /* margin: 10px; */
    /* padding: 10px; */
    background-color: cadetblue;

}

.circle {
    width: 100px;
    padding-left: 20px;
    padding-top: 50px;
    position: absolute;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 10px;
}

.map {
    padding: 10px;
    width: 20px;
}

.map-1 {
    display: flex;
}

.gear-1 {
    display: flex;
}   

.gear {
    width: 20px;
    padding-right: 10px;
}